<div id="top"> 
  <h1><%= link_to "www.rutescollserola.com", root_path %></h1> 
  <div> 
    <%= image_tag("vista-collserola.jpg", :size => "970x50", :alt => "panoramica") %>
  </div> 

  <div id="menu_sup"> 
    <ul class="menu menu_h"> 
      <li><%= link_to "rutes", '#' %></li>
      <li><%= link_to "notícies", '#' %></li>
      <li><%= link_to "participa", '#' %></li>
      <li><%= link_to "qui som? / qui hi ha al darrera", who_path %></li>
      <li><%= link_to "sobre el web", about_path %></li>
      <li><%= link_to "descàrregues", downloads_path %></li>
    </ul>
    <div class="clear"></div> 
  </div> 
</div> 
